body {
  background: antiquewhite;
}

.Contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Excusa {
  color: black;
  font-size: large;
  justify-content: center;
  align-items: center;
  text-align: center;
}
